section {
    width: 80%;
    height: 800px;
    background-color: purple;
    padding: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1629049222296-46ac9a12363e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80");
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-size: 100px;
    color: white;
}