section {
    width: 500px;
    height: 500px;
    background-color: magenta;
    /* display: inline; */
}

/* div {
    display: inline;
} */
#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,1);
}

#hexxer {
    width: 50%;
    height:50%;
    background-color: #ccbebeaa;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: #ffff00;
    opacity: 0.5;
}
