<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1>Home Page <%= 4+5+1 %></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae odit vel dolores inventore, quasi corporis officiis rerum commodi eligendi repellendus temporibus, nam nostrum expedita veniam esse possimus ipsum consequuntur! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id ad dolorum accusantium deserunt ipsam expedita ipsum magni molestiae placeat eum excepturi, minus in incidunt accusamus atque. Veritatis doloremque error molestias?</p>

<p>Barmbo Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eaque ab voluptas consequuntur odio deserunt pariatur quas dolorum veritatis voluptatum nam distinctio ad corporis eveniet officia repellendus, nihil, voluptate quae!</p>
 
<%- include('partials/footer')%>
